.obrazek{
width: 1280px;
height: 794,5px;
border: 2px solid black;
margin-top: 50px;
padding: 10px;
animation-name: example;
animation-duration: 4s;
}
@keyframes example {
    from{
        width: 1280px;
        height: 794,5px;
        border: 2px solid black;
        margin-top: 50px;
        padding: 10px;
    }
    to{
        width:75px;
        height: 50px;
    }
}
.box{
    width: 1280px;
    height: 794,5px;
    box-sizing: border-box;
}
img:hover{
    transform: scale(1,5);
}